<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787238645564-suanotpk8hb55agfmpq940cuq5gfsb4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787238645564-suanotpk8hb55agfmpq940cuq5gfsb4g</string>
	<key>API_KEY</key>
	<string>AIzaSyBtNPL1g9AySwXCtoGXtMZcjiURZ0KlVnY</string>
	<key>GCM_SENDER_ID</key>
	<string>787238645564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flyUp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fly-up-28617</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-up-28617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787238645564:ios:0cfc615613ccfcb3eb3839</string>
</dict>
</plist>